.main {
  overflow: auto;
  margin: 15px 0;
  padding: 10px;
  border: 1px solid #acacac;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(128, 128, 128, 1);
  img {
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
  }
  ul {
    list-style: none;
    li {
      &.correct {
        color: green;
      }
      &.incorrect {
        color: red;
      }
    }
  }
  .buttons {
    button,
    a {
      margin: 5px 10px;
      background: none;
      border: 1px solid black;
      border-radius: 3px;
      padding: 10px;
      &:focus {
        outline: none;
      }
    }
    div {
      display: inline-block;
      &.answer {
        button {
          color: black;
        }
      }
      &.memo {
        button {
          border-color: green;
          color: green;
          &.selected {
            color: white;
            background: green;
          }
        }
      }
      &.test {
        a {
          background: #6fb0e8;
          font-size: 12px;
          text-decoration: none;
        }
      }
    }
  }
}